InheritParentConfig: true
Checks:
  - '-*'
  - 'clang-analyzer-*'
  - 'cert-*'
  - 'bugprone-*'
  - 'modernize-*'
  - '-modernize-use-trailing-return-type'
  - '-modernize-use-using'
  - '-modernize-deprecated-headers'
  - 'performance-*'
  - '-performance-enum-size'
  - 'portability-*'
  - 'readability-*'
  - '-readability-magic-numbers'
  - '-bugprone-easily-swappable-parameters'
CheckOptions:
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-inconsistent-declaration-parameter-name.Strict
    value: 'true'
